html {
  background-color: grey;
}

#chat {
  box-sizing: content-box;
  position: absolute;
  z-index: 10000;
  bottom: 90px;
  left: 20px;
  /*background-color: rgba(46, 41, 41, 0.2);*/
  background-color: rgba(107, 109, 236, 0.2);
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#chat:hover {
  box-shadow: 0 0 5px 0 #121256;
}

.name-input {
  box-sizing: border-box;
  font-size: 36px;
  height: 64px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  width: 300px;
  padding: 0 40px;
}

.name-input:focus {
  box-shadow: 0 0 5px 0 #121256;
}

.input {
  resize: none;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  border: none;
}

.input:focus {
  box-shadow: 0 0 5px 0 #121256;
}

.messages {
  margin-bottom: 10px;
  margin-top: 1px;
  padding: 10px 0;
  max-height: 445px;
  overflow: scroll;
  /*overflow-x: hidden; hides the bottom scrollbar */
}

.messages::-webkit-scrollbar {
  display: none; /*hides all the scrollbars. comment this out to show the scrollbars and then uncomment the overflow-x line above to hide the bottom one */
}

.message {
  background: rgba(255, 255, 255, 0.7);
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 5px auto 5px 0;
  border-radius: 8px;
  width: fit-content;
  max-width: 300px;
  padding: 10px;
  color: #000000;
}

.message.user {
  background-color: #121256;
  color: white;
}

.new-join {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 5px auto 5px 0;
  border-radius: 8px;
  width: fit-content;
  max-width: 300px;
  padding: 10px;
  color: #000000;
}

.online-users {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.users {
  margin: 0 5px;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.users:hover {
  text-decoration: none;
  color: #121256;
}

.userslist-collapsed {
  display: none;
}

.userslist-expanded {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.online-user {
  padding: 5px 5px 5px 0;
  font-weight: 600;
  user-select: none;
}

.online-user:not(:last-child):after {
  display: inline-block;
  content: ",";
}

.chat-expanded {
  position: relative;
}

.chat-collapsed {
  display: none;
}

.collapse-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.expand-icon {
  width: 44px;
}
